
services:
  db-booking:
    image: mcr.microsoft.com/mssql/server:2019-latest
    container_name: BookingCar
    environment:
      SA_PASSWORD: "Lyly2505"
      ACCEPT_EULA: "Y"
      SECRET_KEY: "dZ4ZkH8kN0WGD9CLOl-A2S0WVTIsAqwhLcixybLBAPA"
      ALGORITHM: "HS256"
    healthcheck:
      test: ["CMD", "grep", "-q", "Recovery is complete", "/var/opt/mssql/log/errorlog"]
      interval: 10s
      timeout: 5s
      retries: 30 # Tăng retries để đợi lâu hơn
      start_period: 120s # Thời gian khởi tạo ban đầu
    ports:
      - "1433:1433"
    # dùng named volume, KHÔNG bind mount tới root hoặc thư mục không hợp lệ
    volumes:
      - sqlserver_booking_data:/var/opt/mssql
    restart: unless-stopped
    networks:
      - rental-network
    # (Tuỳ chọn) thêm healthcheck cho SQL Server nếu image hỗ trợ công cụ kiểm tra
    # healthcheck:
    #   test: ["CMD-SHELL", "/opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P \"$SA_PASSWORD\" -Q \"SELECT 1\" || exit 1"]
    #   interval: 30s
    #   timeout: 10s
    #   retries: 5

  booking_service:
    build:
      context: ./booking_service
      dockerfile: Dockerfile
    container_name: rental-booking-service
    restart: unless-stopped
    ports:
      - "8003:8003"
    environment:
      - SQL_DB=BookingCar
      - SECRET_KEY=${SECRET_KEY}
      - ALGORITHM=${ALGORITHM}
      - ACCESS_TOKEN_EXPIRE_MINUTES=${ACCESS_TOKEN_EXPIRE_MINUTES}
      - DB_HOST=db-booking
      - DB_PORT=1433
    depends_on:
      db-booking:
        condition: service_healthy
    networks:
      - rental-network
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8003/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  sqlserver_booking_data:
    driver: local

networks:
  rental-network:
    driver: bridge