services:
  booking_service:
    build:
      context: ./booking_service
      dockerfile: Dockerfile
    container_name: rental-booking-service
    restart: unless-stopped
    
    ports:
      - "8003:8003"
      - "100.65.117.32:8003:8003"
    
    environment:
      - MONGO_URL=mongodb://100.69.63.99:27017/rental_db
      - MONGO_DB=rental_db
      
      - SERVICE_PORT=8003
      - SERVICE_HOST=0.0.0.0
      - MY_TAILSCALE_IP=100.65.117.32
      
      # External Services (qua Tailscale)
      - USER_SERVICE_URL=http://100.69.63.99:8001
      - VEHICLE_SERVICE_URL=http://100.73.22.88:8002
      - BOOKING_SERVICE_URL=http://100.65.117.32:8003
      - PAYMENT_SERVICE_URL=http://100.108.163.69:8004
      
      # Security
      - SECRET_KEY=35a91c468c0a8a62d3669ba143ddf1db
      - ALGORITHM=HS256
      - ACCESS_TOKEN_EXPIRE_MINUTES=60
      - REQUEST_TIMEOUT=120
    
    #network_mode: host
    
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8003/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s
  
networks:
  rental-network:
    driver: bridge  