version: '3.8'

services:
  mongo:
    image: mongo:6.0
    container_name: rental-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"  
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=rental_payment_db
    networks:
      - rental-network
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

  payment_service:
    build:
      context: ./payment_service
      dockerfile: Dockerfile
    container_name: rental-user-service
    restart: unless-stopped
    ports:
      - "8004:8004"  
    environment:
      - MONGO_URL=mongodb://mongo:27017
      - MONGO_DB=rental_payment_db
      - SECRET_KEY=${SECRET_KEY}
      - ALGORITHM=${ALGORITHM}
      - ACCESS_TOKEN_EXPIRE_MINUTES=${ACCESS_TOKEN_EXPIRE_MINUTES}
    depends_on:
      mongo:
        condition: service_healthy
    networks:
      - rental-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8004/health"]
      interval: 10s
      timeout: 5s
      retries: 5



volumes:
  mongo_data:
    driver: local

networks:
  rental-network:
    driver: bridge