# vehicle-service/.dockerignore

# Bỏ qua thư mục chứa các dependency (quá lớn)
node_modules

# Bỏ qua các file cấu hình Git
.git
.gitignore

# Bỏ qua các file cấu hình/log của editor
.vscode
npm-debug.log

# Bỏ qua file .env để tránh xung đột địa chỉ mạng Docker
.env

# Bỏ qua file môi trường cục bộ (vì ta đã dùng biến môi trường từ docker-compose.yml)


; # Bỏ qua các file Docker
; Dockerfile
; docker-compose.yml